<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="https://cdn.flyingant.me/assets/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="https://cdn.flyingant.me/assets/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="https://cdn.flyingant.me/assets/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="https://cdn.flyingant.me/assets/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="https://cdn.flyingant.me/assets/favicon/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="MaYi"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="https://cdn.flyingant.me/assets/favicon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="https://cdn.flyingant.me/assets/favicon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="https://cdn.flyingant.me/assets/favicon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="https://cdn.flyingant.me/assets/favicon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="https://cdn.flyingant.me/assets/favicon/mstile-310x310.png" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="w-screen flex flex-col justify-between">
    <div class="container relative sm:w-4/5 w-full mx-auto flex items-center justify-center text-white py-8" style="background: linear-gradient(143.24deg, #8ED7D7 -24.06%, rgba(255, 255, 255, 0) 33.83%), #2ABC85;">
      <div class="w-2/3 mx-auto flex flex-col" style="color: #F3EFED">
        <h1 class="text-3xl py-4">MaYi 的 VPN</h1>
        <div>
          <ul class="text-base">
            <li class="p-1">合法翻墙 / 稳定 / 速度快</li>
            <li class="p-1">包年无限流量 / 最多同时支持5台设备连接</li>
            <li class="p-1">好多世界各地的节点</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container sm:w-4/5 w-full h-full mx-auto flex sm:flex-row flex-col px-0 sm:px-16 py-8" style="background-color: #F3EFED;">
      <div class="sm:w-1/2 w-full overflow-hidden px-4">
        <h2 class="text-lg py-4" style="color: #6E7A99;">配置方法</h2>
        <ul class="text-base" style="color: #0D102C;">
          <li class="p-1"><b>第 1 步</b> 下载对应平台的 Cisco Anyconnect 并安装。
            <span>
              <ul class="text-base">
                <li class="inline-block mr-2"><a class="underline" href="https://apps.apple.com/us/app/cisco-anyconnect/id1135064690" target="_blank">iOS</a></li>
                <li class="inline-block mr-2"><a class="underline" href="https://cdn.flyingant.me/files/anyconnect/com-mod-vpn-client-pro-v1-00-80-patched.11010080.apk" target="_blank">Android</a></li>
                <li class="inline-block mr-2"><a class="underline" href="https://cdn.flyingant.me/files/anyconnect/anyconnect-macosx-i386-4.0.00051-k9.dmg" target="_blank">Mac</a></li>
                <li class="inline-block mr-2"><a class="underline" href="https://cdn.flyingant.me/files/anyconnect/anyconnect-win-4.6.00362-core-vpn-predeploy-k9.msi" target="_blank">Windows</a></li>
              </ul>
            </span>
          </li>
          <li class="p-1"><b>第 2 步</b> 找 MaYi 要帐号</li>
          <li class="p-1"><b>第 3 步</b> 配置一下 </li>
          <li class="p-1"><b>第 4 步</b> 连接上网！Enjoy!</li>
        </ul>
      </div>
      <div class="sm:w-1/2 w-full overflow-hidden px-4">
        <h2 class="text-lg py-4" style="color: #6E7A99;">帐号种类</h2>
        <div class="w-full flex text-base">
          <div class="w-1/2 mr-1 flex flex-col cursor-pointer" style="background: linear-gradient(143.24deg, #8ED7D7 -24.06%, rgba(255, 255, 255, 0) 33.83%), #2ABC85;box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.16);border-radius: 4px;">
            <div class="w-full flex justify-end py-2">
              <b class="w-16 bg-gray-600 text-white text-sm text-center opacity-50">共享版</b>
            </div>
            <div class="w-full flex items-end justify-start text-sm text-white px-8 py-2">
              <b class="text-3xl mr-2">60</b><span class="py-2">RMB/年</span>
            </div>
            <div class="w-full flex flex-col items-startjustify-start px-8 pb-4" style="color:#083727;">
              <div class="text-base">普通账号</div>
              <div class="text-sm">日常所需（邮件/视频/图片/新闻咨询）</div>
              <div class="text-sm">独享版：<br/>180 RMB/年</div>
            </div>
          </div>
          <div class="w-1/2 flex flex-col cursor-pointer" style="background: linear-gradient(143.24deg, #8ED7D7 -24.06%, rgba(255, 255, 255, 0) 33.83%), #3979DB;box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.16);border-radius: 4px;">
            <div class="w-full flex justify-end py-2">
              <b class="w-16 bg-gray-600 text-white text-sm text-center opacity-50">共享版</b>
            </div>
            <div class="w-full flex items-end justify-start text-sm text-white px-8 py-2">
              <b class="text-3xl mr-2">120</b><span class="py-2">RMB/年</span>
            </div>
            <div class="w-full flex flex-col items-startjustify-start px-8 pb-4" style="color:#083727;">
              <div class="text-base">速度更快账号</div>
              <div class="text-sm">日常所需（邮件/视频/图片/新闻咨询）</div>
              <div class="text-sm">独享版：<br/>360 RMB/年</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container sm:w-4/5 w-full mx-auto flex" >
        <div class="w-full px-16 py-8" style="background-color: rgb(32, 37, 65)">
          <h2 class="text-lg py-4" style="color: #F3EFED; opacity: 0.6;">注意事项</h2>
          <ul class="text-base list-decimal" style="color: rgb(110, 112, 152)">
            <li class="p-1">帐号支持很多其他的VPN 连接方式，但暂时仅提供Anyconnect 的这种简单并且稳定的VPN连接方式。<small>（别问，问就是懒）</small></li>
            <li class="p-1">同所有其他VPN一样会随着国家网络出口流量的变化速度会时好时坏。</li>
            <li class="p-1">供应商稳定运行至少五年了。<small>（跑路风险低）</small></li>
            <li class="p-1">不支持无限个设备同时使用</li>
            <li class="p-1">不允许BT下载</li>
            <li class="p-1">没有25小时客服</li>
            <li class="p-1">不满意就退款</li>
            <li class="p-1">全程爱心技术支持<small>(MaYi Baba 提供)</small></li>
            <li class="p-1">有其他问题可通过微信咨询联系</li>
            <li class="p-1">或者拨打这个空号<a class="text-blue-500 underline mx-2 hover:text-red-300" href="tel:123456789">123456789</a>投诉，或者发邮件到这里咨询<a class="text-blue-500 underline mx-2 hover:text-red-300" href="mailto:liucheng@flyingant.me">liucheng@flyingant.me</a></li>
          </ul>
        </div>
      </div>
      <div class="container sm:w-4/5 w-full mx-auto h-16 flex items-center justify-center text-sm" style="background-color: #0D102C; color: #6E7A99;">
        Build with love by MaYi Studio <img class="w-4 ml-2" alt="left heart" src="./assets/heart.png">
      </div>
    </div>
  </div>
</body>
</html>
