<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://cdn.flyingant.me/assets/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="https://cdn.flyingant.me/assets/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="https://cdn.flyingant.me/assets/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="https://cdn.flyingant.me/assets/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="https://cdn.flyingant.me/assets/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="https://cdn.flyingant.me/assets/favicon/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="MaYi"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="https://cdn.flyingant.me/assets/favicon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="https://cdn.flyingant.me/assets/favicon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="https://cdn.flyingant.me/assets/favicon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="https://cdn.flyingant.me/assets/favicon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="https://cdn.flyingant.me/assets/favicon/mstile-310x310.png" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="w-screen h-screen">
    <div class="h-20 container mx-auto mb-4 flex justify-center items-center shadow shadow-l">
      <img class="w-4" alt="left heart" src="./assets/heart.png">
      <h4 class="mx-4">MaYi Studio</h4>
      <img class="w-4" alt="left heart" src="./assets/heart.png">
    </div>
    <div class="container mx-auto flex flex-col">
      <h1 class="font-bold mb-4">MaYi 的 VPN 分享计划</h1>
      <p>************以下是个稍微有点正经的介绍说明************</p>
      <hr class="w-full h-1 my-2">
      <p class="mb-2">前几天帮助一些好友弄了个用着还可以的VPN，发现既然有着需求，不如费了一番力气帮助有需求的朋友们顺便也盘了一盘，所以去找VPN 的供应商讨价还价要了一批VPN 账号，然后就这样开张了!</p>
      <h4>这个VPN简单说重要的好几点：</h4>
      <ul class="list-disc pl-6">
        <li>是通过合法的软件和一个还算正经的账号实施的</li>
        <li>的供应商走过了至少五年的风风雨雨，所以基本还算稳定。<small>（2015年起，我一直在用）</small></li>
        <li>当且仅满足那种需求是那种日常查查邮件看看视频图片或者上上外网看看新闻。<small>（毕竟，是吧...）</small></li>
        <li><small>(为了避免太复杂和不人性化的操作)</small>目前就只考虑&nbsp;<i>下载一个正经的软件 Anyconnect 然后输入一个账号</i>&nbsp;这样的方式完成连接VPN的全部过程。<small>（虽然也支持类似于 <i>SSH，L2TP/SSTP, IKEv1/v2 等等</i>，但是实在懒得教）</small></li>
      </ul>
      <h4>优点</h4>
      <ul class="list-disc pl-6">
        <li>包年的</li>
        <li>流量无限</li>
        <li>账号能支持好几个设备同时用</li>
        <li>iOS, Android, Mac, Windows 都能用<small>（毕竟用的是正经公司的软件）</small></li>
        <li>还算便宜，账号跟别人Share 的话 60元/年，独自享用的话，180元/年。</li>
        <li>如果想要更快一点的话，账号跟别人Share 的话 120元/年，独自享用的话，360元/年。</li>
        <li>MaYi Baba 全程提供爱心技术支持<img class="w-4 inline-block" alt="heart" src="./assets/heart.png"></li>
        <li>貌似还没有用过的人说不好用的</li>
        <li>假如遇到天灾的话，全部退款吧！</li>
        <li>实在手头紧的话，就送你一个</li>
      </ul>
      <h4>缺点</h4>
      <ul class="list-disc pl-6">
        <li>跟所有其他VPN 一样，会随着国家网络出口流量的变化速度会时好时坏</li>
        <li>不支持很多很多设备同时使用</li>
        <li>不允许BT下载</li>
        <li>没有25小时客服</li>
      </ul>
      <p class="mb-2">所以有需求的小伙伴可以直接微信联系我或者拨打这个空号<a class="text-blue-500 underline mx-2 hover:text-red-300" href="tel:123456789">123456789</a>投诉，或者发邮件到这里咨询<a class="text-blue-500 underline mx-2 hover:text-red-300" href="mailto:liucheng@flyingant.me">liucheng@flyingant.me</a><small>(有空保证会回！)</small></p>
    </div>
  </div>
</body>
</html>
